<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Spring Blog</title>
<body>
<th:block th:replace="fragments/admin/header :: header"/>
<div id="wrapper">
    <th:block th:replace="fragments/admin/navigation :: navigation"/>
    <div id="page-wrapper">

        <section layout:fragment="content">
            <p>Your page content goes here</p>
        </section>

        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<th:block th:replace="fragments/admin/footer :: footer"/>

</body>
</html>

